[submodule "dpdk"]
	path = dpdk
	url = ../dpdk
[submodule "fmt"]
	path = fmt
	url = ../fmt
[submodule "c-ares"]
	path = c-ares
	url = ../c-ares
[submodule "t-digest"]
	path = t-digest
	url = https://github.com/gpichot/cpp-tdigest.git
